<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">
    Welcome to LEGALBOT Airdrop
  </h1>
  <h5 style="text-align:center">
    Token Contract Address: {{ tokenContractService.tokenAddress }}
  </h5>
  <h5 style="text-align:center">
    Airdrop Contract Address: {{ tokenContractService.airdropAddress }}
  </h5>
  <h5 style="text-align:center">
      Current Airdrop allowance: {{ allowance }}
    </h5>
  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="allowValForm" class="form-validate mb-3" role="form" name="airdropForm" novalidate="" (submit)="submitAllowForm($event, allowValForm.value)">
          <div class="form-group">
            <label for="allowAmountInput">Allowance Amount</label>
            <input type="text" class="form-control" id="allowAmountInput" placeholder="Allowance amount uint256" formControlName="amount" required="">
            <div class="text-danger" *ngIf="allowValForm.controls['amount'].hasError('required') && (allowValForm.controls['amount'].dirty || allowValForm.controls['amount'].touched)">This field is required</div>
          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form [formGroup]="valForm" class="form-validate mb-3" role="form" name="airdropForm" novalidate="" (submit)="submitForm($event, valForm.value)">
          <div class="form-group">
            <label for="addressInput">Address</label>
            <textarea class="form-control" id="addressInput" placeholder="Enter multiple comma separated addresses" formControlName="addresses" required="" rows="10"></textarea>
            <div class="text-danger" *ngIf="valForm.controls['addresses'].hasError('required') && (valForm.controls['addresses'].dirty || valForm.controls['addresses'].touched)">This field is required</div>
          </div>
          <div class="form-group">
            <label for="amountInput">Amount</label>
            <input type="text" class="form-control" id="amountInput" placeholder="Amount uint256" formControlName="amount" required="">
            <div class="text-danger" *ngIf="valForm.controls['amount'].hasError('required') && (valForm.controls['amount'].dirty || valForm.controls['amount'].touched)">This field is required</div>
          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>